@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background: #e5e5e5;
    
}

main{
    font-family: 'Roboto', sans-serif;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}